table, th {
    border: 2px solid lightgrey;

}
.kek {
 background-color: rgb(137, 137, 253);
 border-radius: 5px;
 box-shadow: blue 3px 2px;
 border: rgb(137, 137, 253) 0.1px
}
.nev {

}
.kozep {

}
.szurke {

}
.kep {

}